navigation-bar,
navigation-bar button-appearance,
button,
button:highlighted,
button:selected,
segmented-control,
text-field,
text-view,
label {
	font-family: "Quicksand";
}

navigation-bar,
segmented-control {
	background-color: #00aead;
}

.title-label,
.flash-label,
navigation-bar,
navigation-bar title,
navigation-bar button,
navigation-bar button:highlighted,
navigation-bar button:selected {
	color: #fff;
}

navigation-bar button,
navigation-bar button:highlighted,
navigation-bar button:selected {
	font-size: 16pt;
	font-weight: normal;
}

.navigation-button,
.navigation-button:highlighted,
.navigation-button:selected,
.large-button,
.large-button:highlighted,
.large-button:selected {
    font-size: 16pt;
	font-weight: normal;
}

.navigation-button,
.navigation-button:highlighted,
.navigation-button:selected {
	background-color: #f2f5f5;
	box-shadow: 0 1 1 0 #b9c9c5;
}

.large-button,
.large-button:highlighted,
.large-button:selected {
	background-color: #eef1f1;
	box-shadow: 0 1 0 0 #bacbc8;
}

.share-button,
.share-button:highlighted,
.share-button:selected {
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	border: 1 solid #fff;
	border-radius: 5;
	font-size: 12pt;
	font-weight: normal;
}

.flash-label,
.subtitle,
.moment-label {
	font-size: 13pt;
}

.time-box {
	background-color: #f1f1e9;
	box-shadow: 0 1 0 0 #b1bdbb;
}

.special-event-label,
.time-box-label {
	font-size: 14pt;
	font-weight: normal;
}

.thumbnails-box {
	box-shadow: 0 2 1 0 #b1bdbb;
}

.small-button,
.small-button:highlighted,
.small-button:selected {
	background-color: #dadacb;
	border-radius: 5;
	font-size: 13pt;
	font-weight: bold;
}

.button-camera,
.button-camera:highlighted,
.button-camera:selected {
	border:	3 solid #fff;
	shape: ellipse;
	-ios-tint-color: #fff;
}

.button-camera icon {
	background-size: 42;
}

.camera-overlay {
	background-color:rgba(0, 0, 0, 0.2);
}

.title-label {
	font-size: 18pt;
}

.event-label {
	color: #109bcb;
	font-size: 15pt;
	font-weight: bold;
}

.day-label {
	font-size: 12pt;
	font-weight: bold;
}

.special-message-label {
	font-size: 15pt;
	font-weight: bold;
}

.default-screen-background {
	background-color: #fff;
}

.screen-background,
.default-button,
.default-button:highlighted,
.default-button:selected {
	background-color: #dce6e6;
}

.selected-cell {
	background-color: #58c5cd;
	opacity: 0.5;
}

.card-overlay {
	background-color: rgba(42, 181, 88, 0.5);
}

.card-separator {
	background-color: #fff;
	box-shadow: 0 0 1 0 rgba(0, 0, 0, 0.1);
}

.subtitle,
.follow,
.row label,
.time-box-label,
.day-label,
.moment-label,
.special-event-label,
.special-message-label,
text-field,
text-view,
.small-button,
.small-button:highlighted,
.small-button:selected,
.navigation-button,
.navigation-button:highlighted,
.navigation-button:selected,
.large-button,
.large-button:highlighted,
.large-button:selected {
	color: #4d5f5c;
}

switch,
button,
button:highlighted,
button:selected {
	color: #00aead;
}

button,
button:highlighted,
button:selected {
	font-size: 17pt;
	font-weight: bold;
}

.row label,
button.highlighted,
button.highlighted:highlighted,
button.highlighted:selected {
	font-size: 16pt;
}

.progress {
	box-shadow: 1 1 1 0 rgba(153, 153, 153, 0.5);
}

.row {
	background-color: #fff;
	box-shadow: 0 1 0 0 #b6bcba;
}

map-view {
	box-shadow: 0 1 0 0 #fff;
}

map-view label {
	font-size: 12pt;
}

.input-text {
	border: 1 solid #00aead;
	border-radius: 5;
	padding-left: 8;
}

text-field,
text-field label,
text-view {
	font-size: 15pt;
	padding-top: 2;
}

.image-share-title,
.image-share-where-label,
.image-share-age-label,
.image-share-day,
.image-share-month,
.image-share-year {
	color: #fff;
	letter-spacing: 0.75px;
}

.image-share-title,
.image-share-logo {
	box-shadow: 0 0 1 0 #000;
}

.image-share-where-label,
.image-share-age-label,
.image-share-day,
.image-share-month,
.image-share-year {
	box-shadow: 1 1 0 0 #000;
}

.image-share-title,
.image-share-day,
.image-share-month,
.image-share-year {
	font-family: "Roboto Condensed";
}

.image-share-where-label,
.image-share-age-label {
	font-family: "Quicksand";
}

.image-share-title {
	font-size: 25pt;
	font-weight: bold;
}

.image-share-where-label {
	font-size: 17pt;
	font-weight: bold;
}

.image-share-age-label {
	font-size: 13pt;
	font-weight: regular;
}

.image-share-day {
	font-size: 26pt;
	font-weight: bold;
}

.image-share-month {
	font-size: 16pt;
	font-weight: bold;
}

.image-share-year {
	font-size: 12pt;
	font-weight: light;
}

.follow {
	font-weight: bold;
	font-size: 17pt;
}

.ninety-degrees {
	transform: rotate(90);
}

.bee {
	background-image: url(bee.svg);
}

.bee-baby {
	background-image: url(bee-baby.svg);
}

.checklist {
	background-image: url(checklist.svg);
}

.hourglass {
	background-image: url(hourglass.svg);
}

.heart {
	background-image: url(heart.svg);
}

.heart-empty {
	background-image: url(heart-empty.svg);
}

.badge {
	background-image: url(badge.svg);
}

.tag {
	background-image: url(tag.svg);
}

.bookmark {
	background-image: url(bookmark.svg);
}

.checkmark {
	background-image: url(checkmark.svg);
}

.cancel {
	background-image: url(cancel.svg);
}

.comeback {
	background-image: url(comeback.svg);
}

.comments {
	background-image: url(comments.svg);
}

.separator {
	background-image: url(separator.png);
}

.clock {
	background-image: url(clock.svg);
}

.calendar {
	background-image: url(calendar.svg);
}

.calendar-clear {
	background-image: url(calendar-clear.svg);
}

.location {
	background-image: url(location.svg);
}

.location-clear {
	background-image: url(location-clear.svg);
}

.menu {
	background-image: url(menu.svg);
}

.camera,
.button-camera icon {
	background-image: url(camera.svg);
}

.target-camera {
	background-image: url(target-camera.svg);
}

.picture {
	background-image: url(picture.svg);
}

.pictures {
	background-image: url(pictures.svg);
}

.timeline {
	background-image: url(timeline.svg);
}

.music {
	background-image: url(music.svg);
}

.flash {
	background-image: url(flash.svg);
}

.switch {
	background-image: url(switch.svg);
}

.bubble {
    animation: bubble;
 	animation-duration: 3s;
}

@keyframes bubble {
    from {
    	opacity: .5;
        scale: .2;
    }
    50% {
        scale: 1.1;
    }
    65% {
        scale: .9;
    }
    75% {
        scale: 1.1;
    }
    85% {
        scale: .95;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}