<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1445498505688180</string>
			</array>
		</dict>
	</array>
	<key>FacebookDisplayName</key>
	<string>BeeBaby</string>
	<key>FacebookAppID</key>
	<string>1445498505688180</string>
	<key>CFBundleDisplayName</key>
	<string>BeeBaby</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array/>
	<key>UIAppFonts</key>
	<array>
		<string>RobotoCondensed-BoldItalic.otf</string>
		<string>RobotoCondensed-Italic.otf</string>
		<string>RobotoCondensed-Bold.otf</string>
		<string>RobotoCondensed-Light.otf</string>
		<string>RobotoCondensed-LightItalic.otf</string>
		<string>RobotoCondensed-Regular.otf</string>
		<string>Quicksand_Book.otf</string>
		<string>Quicksand_Bold.otf</string>
		<string>RobotoSlab-Bold.otf</string>
		<string>Secret-Recipe.otf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>English</string>
		<string>Portuguese</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.grouplighthouse.beebaby</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x</string>
		<string>Icon-Small-40@2x</string>
		<string>Icon@2x</string>
		<string>Icon</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
</dict>
</plist>
